<p id="notice"><%= notice %></p>

<h1 style="color:blue;">ようこそ！Wonderful post appへ</h1>

<%= link_to '記事作成', new_article_path, class: "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">表題：</th> <!--title-->
      <th scope="col">内容：</th><!--content-->
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to '表示', article, class: "btn btn-success"%></td><!--show-->
        <td><%= link_to '編集', edit_article_path(article), class: "btn btn-warning" %></td><!--edit-->
        <td><%= link_to '削除', article, class: "btn btn-danger", method: :delete, data: { confirm: '本当にホントに消していいんか？' } %></td> <!--destroy,フラッシュメッセージを変更-->
      </tr>
    <% end %>
    <!--Qiitaでbootstrapの動作確認ように入れたコード。不要なら、消してもいいかもね-->
    <!--<%= link_to "最終確認用ボタン", "#", class: "btn btn-primary" %> -->
  </tbody>
</table>
