<p id="notice"><%= notice %></p>

<h1 style="color:blue;">ようこそ！Wonderful post appへ</h1>
<!--Task13で追加したページネイション機能-->
<%= paginate @articles %>

<!--Task14で追加した検索-->
<%= render partial: 'search' %>

<!--Task11-2で削除／動作確認後消してみる-->
<%= link_to '記事作成', new_article_path, class: "btn btn-info" %><!--Task11-2記事作成ボタン消去-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">表題：</th> <!--title-->
      <th scope="col">内容：</th><!--content-->
    </tr>
  </thead>

  <tbody>
  <!-- binding.pry%>-->
    <!--@articles.each do |article| %>@articlesの中にあるデータをeach文で表示する-->
    <% @articles.preload(:tags).each do |article| %><!--TaskEx:N+1問題の対策-->
      <tr>
        <!--Task15-2で追加した。下の行はコメントアウト-->
        <!--<td><%= article.title %></td>--><!--Task15-2でコメントアウト-->
        <td>
          <%= article.title %>
          <% article.tags.each do |tag| %>
          <!-- binding.pry %>-->
            <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
          <% end %>
        </td>
        <!--.contentは記事(content)を表示するメソッド-->
        <td><%= article.content %></td>
        <td><%= link_to '表示', article, class: "btn btn-success"%>
</td>
      </tr>
    <% end %>
  </tbody>
</table>
